:host {
    --button-bg-info: #2626b5;
    --button-bg-success: #0fab0f;
    --button-bg-warning: #e5e505;
    --button-bg-error: #e40505;
    --button-bg-active: var(--button-bg-info);
}

.button {
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 50px;
    color: whitesmoke;
    border: none;
    outline: none;
    background-color: var(--button-bg-active);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    color: whitesmoke;
}